body {
    margin: 0;
    padding: 0;
}

#top h1{
    color: white;
    text-align: center;
    font-size: 40pt;
    position: absolute;
    top: 10vw;
    left: 48vw;
}

#Text{
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 5rem;
    background-color: white;
}

h3{
    color: hsl(186deg 79% 26%);
}
#Text h3:nth-child(3){
    text-align: right;
    padding-right: 30px;
}

footer{
    height:5rem;
    position: relative;
    margin-bottom: 0;
    display: block;
    text-align: center;
    background-color: black;
}

.footer_text{
    color: white;
    
    height: 100px;
    align-content: center;
}

@media screen and (max-width:1024px){
    #Text{
        background-color: lightgoldenrodyellow;
    }
}

@media screen and (max-width:768px){
    #Text{
        background-color: lightskyblue;
    }
}

@media screen and (max-width:480px){
    #Text{
        background-color: lightgreen;
    }
}